--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
torchmetrics
torch-fidelity
transformers

matplotlib
notebook
numpy==1.26.3
Flask==2.2.2
pydot==1.4.2
Werkzeug==2.2.2
clip-score
git+https://github.com/openai/CLIP.git